@import url(./vendor/inter.css);
@import url(./vendor/normalize.css);

@import url(./blocks/page/page.css);

@import url(./blocks/content/content.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/_nav-opened/header_nav-opened.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__nav/header__nav.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_nav-opened/header__link_nav-opened.css);
@import url(./blocks/header/__nav/_type/header__nav_mobile_main.css);
@import url(./blocks/header/__nav/_type/header__nav_mobile_sign.css);
@import url(./blocks/header/__nav-button/header__nav-button.css);
@import url(./blocks/header/__nav/_opened/header__nav_opened.css);
@import url(./blocks/header/__nav-button/_type/header__nav-button_type_close-icon.css);
@import url(./blocks/header/__nav-button/_type/header__nav-button_type_toolbar-icon.css);
@import url(./blocks/header/__nav-button/_nav-opened/header__nav-button_nav-opened.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__button-info/profile__button-info.css);
@import url(./blocks/profile/__button-cards/profile__button-cards.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__firstname/profile__firstname.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__list/profile__list.css);
@import url(./blocks/profile/__avatar/_type/profile__avatar_type_hover.css);

@import url(./blocks/photo-elements/photo-elements.css);
@import url(./blocks/photo-elements/__list/photo-elements__list.css);
@import url(./blocks/photo-elements/__item/photo-elements__item.css);
@import url(./blocks/photo-elements/__delete/photo-elements__delete.css);
@import url(./blocks/photo-elements/__like/photo-elements__like.css);
@import url(./blocks/photo-elements/__like-button/photo-elements__like-button.css);
@import url(./blocks/photo-elements/__like-counter/photo-elements__like-counter.css);
@import url(./blocks/photo-elements/__like-button/_active/photo-elements__like-button_active.css);
@import url(./blocks/photo-elements/__title/photo-elements__title.css);
@import url(./blocks/photo-elements/__capture/photo-elements__capture.css);

@import url(./blocks/pop-up/pop-up.css);
@import url(./blocks/pop-up/__close-icon/pop-up__close-icon.css);
@import url(./blocks/pop-up/__container/pop-up__container.css);
@import url(./blocks/pop-up/__title/pop-up__title.css);
@import url(./blocks/pop-up/__form/pop-up__form.css);
@import url(./blocks/pop-up/__input/pop-up__input.css);
@import url(./blocks/pop-up/__input/_type/pop-up__input_type_error.css);
@import url(./blocks/pop-up/__button/pop-up__button.css);
@import url(./blocks/pop-up/__button/_disabled/pop-up__button_disabled.css);
@import url(./blocks/pop-up/_opened/pop-up_opened.css);
@import url(./blocks/pop-up/_type/pop-up_type_extend-cap.css);
@import url(./blocks/pop-up/__title/_type/pop-up__title_type_extend-cap.css);
@import url(./blocks/pop-up/__container/_type/pop-up__container_type_extend-cap.css);
@import url(./blocks/pop-up/__capture/pop-up__capture.css);
@import url(./blocks/pop-up/__title/_type/pop-up__title_type_delete-card.css);
@import url(./blocks/pop-up/__title/_type/pop-up__title_type_info-tooltip.css);
@import url(./blocks/pop-up/__status-icon/pop-up__status-icon.css);

@import url(./blocks/sign/sign.css);
@import url(./blocks/sign/__container/sign__container.css);
@import url(./blocks/sign/__title/sign__title.css);
@import url(./blocks/sign/__form/sign__form.css);
@import url(./blocks/sign/__input/sign__input.css);
@import url(./blocks/sign/__button/sign__button.css);
@import url(./blocks/sign/__button/_disable/sign__button_disable.css);
@import url(./blocks/sign/__text/sign__text.css);
@import url(./blocks/sign/__link/sign__link.css);


@import url(./blocks/error/error.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
