.header {
    width: 100%;
    min-height: 74px;
    margin: 0 auto;
    margin-top: 45px;
    border-bottom: 1px solid #545454b3;
    box-sizing: border-box;
}

@media (max-width: 620px) {
    .header {
        width: 100%;
        margin-top: 28px;
        min-height: 56px;
    }
}